<!-- 2.4.2 -->
<div class="checkout-billing-address">
    <!-- ko ifnot: window.checkoutConfig.ecinternet_orderfeatures.hide_billing -->
    <div class="billing-address-same-as-shipping-block field choice" data-bind="visible: canUseShippingAddress()">
        <input type="checkbox" name="billing-address-same-as-shipping"
               data-bind="checked: isAddressSameAsShipping, click: useShippingAddress, attr: {id: 'billing-address-same-as-shipping-' + getCode($parent)}">
        <label data-bind="attr: {for: 'billing-address-same-as-shipping-' + getCode($parent)}">
            <!-- ko if: window.checkoutConfig.ecinternet_orderfeatures.payment_billing -->
            <span data-bind="i18n: 'My payment billing and shipping address are the same'"></span>
            <!-- /ko -->
            <!-- ko ifnot: window.checkoutConfig.ecinternet_orderfeatures.payment_billing -->
            <span data-bind="i18n: 'My billing and shipping address are the same'"></span>
            <!-- /ko -->
        </label>
    </div>
    <render args="detailsTemplate"></render>
    <fieldset class="fieldset" data-bind="visible: !isAddressDetailsVisible()">
        <each args="getRegion('billing-address-list')" render=""></each>
        <div data-bind="fadeVisible: isAddressFormVisible">
            <render args="formTemplate"></render>
        </div>
        <render args="actionsTemplate"></render>
    </fieldset>
    <!-- /ko -->
</div>
